<app-header>

</app-header>
<div class="container">

    <div class="screen">SCREEN</div>
    

    <h4>Premium - Rs.170</h4>
    <div class="seat-container">
      <div *ngFor="let seat of premiumSeats" class="seat available" [class.selected]="seat.selected" [class.sold]="seat.sold" (click)="toggleSeat(seat)">
        {{ seat.number }}
      </div>
    </div>
  
  
    <h4>Super Premium - Rs.195</h4>
    <div class="seat-container">
      <div *ngFor="let seat of superPremiumSeats" class="seat available" [class.selected]="seat.selected" [class.sold]="seat.sold" (click)="toggleSeat(seat)">
        {{ seat.number }}
      </div>
    </div>
  
 
    <h4>Elite - Rs.130</h4>
    <div class="seat-container">
      <div *ngFor="let seat of eliteSeats" class="seat available" [class.selected]="seat.selected" [class.sold]="seat.sold" (click)="toggleSeat(seat)">
        {{ seat.number }}
      </div>
    </div>
  </div>
  